.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Fira Code;
  color: #FAF9F0;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Fira Code;
    margin-bottom: 2rem;

    .hello {
      font-family: Fira Code;
      font-style: normal;
      font-weight: normal;
      font-size: 2rem;
      line-height: 126%;
    }

    .hai {
      font-family: Montserrat;
      font-style: italic;
      font-weight: bold;
      font-size: 5rem;
      line-height: 126.78%;
    }

    .job {
      font-family: Fira Code;
      font-style: normal;
      font-weight: normal;
      font-size: 2rem;
      text-align: center;
    }
  }
}
