.navItem {
  font-family: Fira Code;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 0.75rem;

  color: #FAF9F0;

  &.active {
    color: #F6490D;
  }
}